@import '../../assets/styles/variables.css';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* CONTENEDOR DEL MODAL */
.modal-container {
  background: var(--color-fondo);
  padding: 30px;
  width: 480px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  color: var(--color-texto);
  animation: fadeIn 0.2s ease-in-out;
}

/* TITULO */
.modal-container h2 {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 600;
}

/* SUBTITULO */
.modal-container p {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;
}

/* LABELS */
.modal-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

/* INPUTS */
.modal-input,
.modal-textarea {
  width: 100%;
  background: #1e293b;
  border: 1px solid #334155;
  color: var(--color-texto);
  padding: 14px;
  font-size: 14px;
  border-radius: 10px;
  margin: 10px 0 30px 0;
  transition: border 0.2s ease;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: #94a3b8;
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--color-hover);
  outline: none;
}

/* TEXTAREA */
.modal-textarea {
  min-height: 120px;
  resize: none;
}

/* BOTONES */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn-cancel {
  background: transparent;
  border: 1px solid #64748b;
  color: var(--color-texto-secundario);
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancel:hover {
  background: #1e293b;
}

.btn-save {
  background: var(--color-primario);
  border: none;
  color: var(--color-texto);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.btn-save:hover {
  background: var(--color-hover);
}

/* ANIMACION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
